/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font-family: "Shojumaru", cursive;
}

/* colors */

:root {
  --white: #f5f5f5;
  --red: #982540;
  --orange: #d75d42;
  --yellow: #f1b688;
  --black: #312318;
  --pic_1r_bkg: #e9675a;
}

/* menu backgroung gradient */

.background-container {
  background: #d75d42;
  background: linear-gradient(270deg, #d75d42 5%, rgba(241, 182, 136, 0.7) 95%);
  background: -webkit-linear-gradient(
    270deg,
    #d75d42 5%,
    rgba(241, 182, 136, 0.7) 95%
  );
  background: -moz-linear-gradient(
    270deg,
    #d75d42 5%,
    rgba(241, 182, 136, 0.7) 95%
  );
  width: 100vw;
}

.header-main h1 {
  font-size: 2.1rem;
  color: var(--orange);
  padding-left: 1rem;
}

.header-main {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 99;
  justify-content: space-between;
  align-items: center;
  height: 57px;
  background-color: var(--yellow);
  border-bottom: 2px solid var(--black);
}

.navbar {
  background-color: var(--yellow);
}

.navbar__link {
  padding: 17px 7px;
  text-decoration: none;
  margin: 0;
  color: var(--black);
  height: 100%;
  font-size: 1rem;
}

.navbar__link:hover {
  color: var(--white);
  background-color: var(--red);
}

.navbar-dropdown {
  position: relative;
  display: inline-block;
  min-width: 140px;
  z-index: 1;
}

.navbar-dropdown__btn {
  background-color: var(--yellow);
  color: var(--black);
  padding: 17px 7px;
  font-size: 1rem;
  border: none;
  font-family: "Shojumaru", cursive;
}

.navbar-dropdown__list {
  display: none;
  position: absolute;
  background-color: var(--yellow);
}

.navbar-dropdown__list a {
  color: var(--black);
  padding: 17px 7px;
  text-decoration: none;
  display: block;
}

.navbar-dropdown__list a:hover {
  background-color: var(--red);
  color: var(--white);
}

.navbar-dropdown:hover .navbar-dropdown__list {
  display: block;
}

.navbar-dropdown:hover .navbar-dropdown__btn {
  background-color: var(--red);
  color: var(--white);
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(../img/chinese-garden4-222.jpg) no-repeat center;
  background-size: cover;
  top: 57px;
}
.hero-header {
  position: relative;
  font-size: 4rem;
  font-weight: 700;
  top: 100px;
  text-align: center;
  color: var(--red);
}

.hero-img {
  width: 100%;
  height: 100%;
}

/* about section page */

.about-list__sect1 {
  display: flex;
  margin: 0;
  padding: 0;

  height: 100vh;
  background: #d75d42;
  background: linear-gradient(0deg, #d75d42 0%, #e2664a 40%, #f1b688 80%);
  background: -webkit-linear-gradient(
    0deg,
    #d75d42 0%,
    #e2664a 40%,
    #f1b688 80%
  );
  background: -moz-linear-gradient(0deg, #d75d42 0%, #e2664a 40%, #f1b688 80%);
}

.about-list-img-container {
  width: 50vw;
  height: 100vh;
}

.about-list__sect1__img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.about-content {
  font-size: 3rem;
  text-align: center;
  line-height: 4rem;
  font-family: "Inika", serif;
}

.about-content-container {
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
  width: 50vw;
}

.about-content-quoted {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  text-align: center;
  font-size: 1.3rem;
}

.about-list1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #d75d42;
  background: linear-gradient(180deg, #d75d42 0%, #e2664a 40%, #f1b688 80%);
  background: -webkit-linear-gradient(
    180deg,
    #d75d42 0%,
    #e2664a 40%,
    #f1b688 80%
  );
  background: -moz-linear-gradient(
    180deg,
    #d75d42 0%,
    #e2664a 40%,
    #f1b688 80%
  );
}

.about-list__bio-img {
  padding-top: 45px;
  height: 35vh;
  padding-bottom: 10px;
}

.bio-container {
  margin: 25px auto auto auto;
  width: 60vw;
  justify-content: center;
}

.about-list_bio {
  text-align: justify;
  line-height: 1.4rem;
  padding-top: 10px;
  color: var(--white);
  font-family: "Inika", serif;
}

/* about section page end */

.menu__header {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 150px;
}

.menu__header-sub {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.menu {
  height: 100vh;
  position: relative;
}

.menu-img-container-l {
  height: 15vw;
  width: 20vw;
  position: absolute;
  top: 225px;
  bottom: auto;
  left: 30px;
  border: 3px solid var(--red);
}

.menu-img-container-r {
  height: 15vw;
  width: 20vw;
  position: absolute;
  top: 225px;
  bottom: auto;
  right: 30px;
  border: 3px solid var(--black);
}

.menu-img {
  height: 100%;
  width: 100%;
}

.menu__container {
  display: grid;
  grid-template-columns: 6.96fr 1.52fr 1.52fr;
  padding: 3px;
  padding-left: 25vw;
  padding-right: 25vw;
  justify-content: center;
  color: var(--black);
  font-weight: bold;
}

.menu__container__food {
  text-align: left;
  z-index: 1;
  margin-top: auto;
  margin-bottom: auto;
}
.menu__container__sm {
  text-align: right;
  z-index: 1;
  margin-top: auto;
  margin-bottom: auto;
}
.menu__container__lg {
  text-align: right;
  z-index: 1;
  margin-top: auto;
  margin-bottom: auto;
}

/* media */

@media screen and (max-width: 1024px) {
  .hero-header {
    top: 260px;
    font-size: 5rem;
  }

  .about-list-img-container {
    width: 50vw;
  }

  .about-content-container {
    width: 49vw;
  }

  .bio-container {
    width: 95vw;
  }

  .about-list_bio {
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-header {
    top: 190px;
    font-size: 4.1rem;
  }

  .menu__header {
    font-size: 1.3rem;
  }
  .menu__container {
    font-size: 1rem;
  }

  .menu-img-container-l {
    height: 12vw;
    width: 16vw;
    left: 15px;
    top: 280px;
  }

  .menu-img-container-r {
    height: 12vw;
    width: 16vw;
    right: 15px;
    top: 280px;
  }
}

@media screen and (max-width: 650px) {
  .header-main {
    flex-direction: column;
    height: 105px;
  }

  .hero-header {
    top: 135px;
    font-size: 3rem;
  }

  .nav-header {
    height: 1200px;
  }

  .navbar__link {
    padding: 17px 4px;
  }

  .about-list__sect1 {
    flex-direction: column;
    margin-top: 15px;
  }

  .about-list-img-container {
    width: 100vw;
    height: 65vw;
    margin-top: 90px;
  }

  .about-list__sect1__img {
    width: 100%;
    height: 100%;
  }

  .about-content-container {
    width: 100%;
    margin-top: 80px;
    margin-bottom: auto;
  }

  .bio-container {
    width: 95vw;
    line-height: 1.2rem;
    padding-bottom: 5px;
    height: 98vh;
    font-size: 0.9rem;
  }

  .about-list_bio {
    line-height: 1rem;
    width: 95vw;
  }

  .menu__header {
    padding-bottom: 20px;
    font-size: 1rem;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
  }

  .menu__header-sub {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu-img-container-l {
    display: none;
  }
  .menu-img-container-r {
    display: none;
  }

  .menu {
    height: 95vh;
  }
  .menu__container {
    font-size: 0.8rem;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
}
