// root

$primary: rgba(59, 44, 0, 0.733);
$secondary: #63210d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: rgba(255, 255, 255, 0.9);
$light2: rgba(255, 255, 255, 0.8);
$light3: rgba(255, 255, 255, 0.5);
$dark: #343a40;
