//  footer

.footer {
  font-size: 1rem;
  font-weight: 500;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px 0 40px;
  margin-top: 40px;
  line-height: 1.5rem;
  border-radius: 28px 28px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  min-width: 497px;
}

.footer-text {
  color: var(--light);
}

.footer-link {
  text-decoration: none;
  color: var(--light);
}

.footer-link:hover {
  color: var(--warning);
}
